<div class="row justify-content-center">
  <div class="col-md-6 col-lg-5 col-xl-4 login-container">
    <div class="card auth">
      <div class="card-body auth-card">
        <div class="auth-avatar">
          <img
            src="https://pluspng.com/img-png/user-png-icon-account-avatar-human-male-man-men-people-person-download-svg-download-png-edit-icon-512.png"
            alt="user"
            class="user-image"
          />
        </div>
        <h5 class="text-center mb-4">Sign in to your account</h5>
        <form [formGroup]="loginForm" (ngSubmit)="onFormSubmit()" novalidate>
          <div class="form-group">
            <label for="email">Email</label>
            <input
              type="email"
              id="email"
              formControlName="email"
              class="form-control"
              [ngClass]="{ 'is-invalid': submitted && fval['email'].errors }"
              placeholder="Enter your email"
              aria-describedby="emailHelp"
            />
            <div
              *ngIf="submitted && fval['email'].errors"
              class="invalid-feedback"
            >
              <div class="error-msg" *ngIf="fval['email'].errors['required']">
                Email is required.
              </div>
              <div class="error-msg" *ngIf="fval['email'].errors['email']">
                Please enter a valid email address.
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="password">Password</label>
            <input
              type="password"
              id="password"
              formControlName="password"
              class="form-control"
              [ngClass]="{ 'is-invalid': submitted && fval['password'].errors }"
              placeholder="Enter your password"
            />
            <div
              *ngIf="submitted && fval['password'].errors"
              class="invalid-feedback"
            >
              <div
                class="error-msg"
                *ngIf="fval['password'].errors['required']"
              >
                Password is required.
              </div>
              <div
                class="error-msg"
                *ngIf="fval['password'].errors['minlength']"
              >
                Password must be at least 6 characters.
              </div>
            </div>
            <!-- Uncomment if forgot password functionality is needed
                        <div class="text-right forget-pass mt-2">
                            <a routerLink="/forgot-password">Forgot Password?</a>
                        </div> 
                        -->
          </div>

          <div class="action-group">
            <button [disabled]="loading" type="submit" class="btn btn-my">
              <span
                *ngIf="loading"
                class="spinner-border spinner-border-sm mr-1"
              ></span>
              Login
            </button>
            <a routerLink="/register" class="btn btn-link"
              >Don't have an account? Register</a
            >
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
