<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<!-- Toolbar -->
<div class="toolbar" role="banner">
  <span class="app-title">Atums Shopping App</span>

  <div class="user-actions">
    <div class="auth-avatar" (click)="openDropdown()">
      <img
        src="https://cdn.pixabay.com/photo/2017/02/25/22/04/user-icon-2098873_1280.png"
        alt="user"
        class="user-profile-image"
      />
    </div>

    <div *ngIf="dropdownActive == true" class="dropdown-class">
      <ul class="list-group">
        <li (click)="redirectToProfile()" class="list-group-item">Profile</li>
        <!-- <li class="list-group-item">Delete Account</li> -->
        <li (click)="logoutUser()" class="list-group-item">Logout</li>
      </ul>
    </div>
  </div>
</div>

<!-- Main Content Container -->
<div class="container-fluid">
  <br />
  <!-- <a [routerLink]="['/login']" class="btn btn-primary">Login</a> &nbsp;
  <a [routerLink]="['/sign-up']" class="btn btn-primary">Sign Up</a> -->
  <br />
  <router-outlet></router-outlet>
</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
