
<div class="header pb-8 pt-3 pt-lg-8 d-flex">
    <!-- Mask -->
    <span class="mask bg-gradient-danger opacity-8"></span>
    <div class="col-md-4">
        <div class="card auth">
            <div class="card-body auth-card">
                <ul class="list-group">
                    <li (click)="updateTab(1)" [ngClass]="['list-group-item', activeTab == 1 ? 'list-group-item-secondary' : '' ]">Personal Info</li>
                    <li (click)="updateTab(2)" [ngClass]="['list-group-item', activeTab == 2 ? 'list-group-item-secondary' : '']">Update EmailId</li>
                    <li (click)="updateTab(3)" [ngClass]="['list-group-item', activeTab == 3 ? 'list-group-item-secondary' : '' ]">Update PhoneNo</li>
                    <li (click)="updateTab(4)" [ngClass]="['list-group-item', activeTab == 4 ? 'list-group-item-secondary' : '' ]">Delete Account</li>
                    <li (click)="updateTab(5)" [ngClass]="['list-group-item', activeTab == 5 ? 'list-group-item-secondary' : '' ]">Change Password</li>
                  </ul>
                  <a routerLink="/dashboard" style="float: right" class="btn btn-link">Back To Dashboard</a>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="card auth">
            <div class="card-body auth-card">
                <div *ngIf="activeTab==1" class="row">
                    <div class="col-lg-12 col-md-10">
            
                        <form [formGroup]="profileForm" (ngSubmit)="onFormSubmit()">
                            <div class="row m-2 ml-4">
                                <div class="row full-width">
                                    <h6 for="email">Username</h6>
                                </div>
                                <div class="row full-width">
                                    <input [(ngModel)]="userData.userName" type="text" formControlName="userName" class="form-control" [ngClass]="{ 'is-invalid': submitted && fval['userName']['errors'] }" placeholder="Username"/>
                                    <div *ngIf="submitted && fval['userName']['errors']" class="invalid-feedback">
                                        <div class="error-msg" *ngIf="fval['userName']['errors']['required']">Username is required</div>
                                    </div>
                                </div>
                            </div>
                            <div class="row m-2 ml-4">
                                <div class="row full-width">
                                    <h6 for="firstName">Firstname</h6>
                                </div>
                                <div class="row full-width">
                                    <input [(ngModel)]="userData.name.givenName" type="text" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && fval['firstName']['errors'] }" placeholder="Firstname"/>
                                    <div *ngIf="submitted && fval['firstName']['errors']" class="invalid-feedback">
                                        <div class="error-msg" *ngIf="fval['firstName']['errors']['required']">Firstname is required</div>
                                    </div>
                                </div>
                            </div>
                            <div class="row m-2 ml-4">
                                <div class="row full-width">
                                    <h6 for="middleName">Middlename</h6>
                                </div>
                                <div class="row full-width">
                                    <input [(ngModel)]="userData.name.middleName" type="text" formControlName="middleName" class="form-control" placeholder="Middlename"/>
                                </div>
                            </div>
                            <div class="row m-2 ml-4">
                                <div class="row full-width">
                                    <h6 for="lastName">Lastname</h6>
                                </div>
                                <div class="row full-width">
                                    <input type="text" [(ngModel)]="userData.name.familyName" formControlName="lastName" class="form-control" placeholder="Lastname"/>
                                </div>
                            </div>

                            <hr/>

                            <h6 for="address" class="ml-2 mt-4 mb-3 font-weight-bold">Work Address</h6>
                            <div class="row m-2 ml-4">
                                <div class="row full-width">
                                    <h6 for="streetAddress">Street Address</h6>
                                </div>
                                <div class="row full-width">
                                    <input type="text" [(ngModel)]="userData.addresses && userData.addresses[0].streetAddress" formControlName="streetAddress" class="form-control" placeholder="Street Address"/>
                                </div>
                            </div>
                            <div class="row m-2 ml-4">
                                <div class="row full-width">
                                    <h6 for="locality">City</h6>
                                </div>
                                <div class="row full-width">
                                    <input type="text" [(ngModel)]="userData.addresses && userData.addresses[0].locality" formControlName="locality" class="form-control" placeholder="City"/>
                                </div>
                            </div>
                            <div class="row m-2 ml-4">
                                <div class="row full-width">
                                    <h6 for="region">State</h6>
                                </div>
                                <div class="row full-width">
                                    <input type="text" [(ngModel)]="userData.addresses && userData.addresses[0].region" formControlName="region" class="form-control" placeholder="State"/>
                                </div>
                            </div>
                            <div class="row m-2 ml-4">
                                <div class="row full-width">
                                    <h6 for="postalCode">Zip code</h6>
                                </div>
                                <div class="row full-width">
                                    <input type="text" [(ngModel)]="userData.addresses && userData.addresses[0].postalCode" formControlName="postalCode" class="form-control" placeholder="Zip Code"/>
                                </div>
                            </div>
                            <div class="row m-2 ml-4">
                                <div class="row full-width">
                                    <h6 for="country">Country</h6>
                                </div>
                                <div class="row full-width">
                                    <input type="text" [(ngModel)]="userData.addresses && userData.addresses[0].country" formControlName="country" class="form-control" placeholder="Country"/>
                                </div>
                            </div>
             
                
                            <div class="form-group" style="margin-top: 10px;">
                                <button [disabled]='loading' class="btn btn-my">
                                    <span *ngIf='loading' class="spinner-border spinner-border-sm mr-1"></span>
                                    Save
                                </button>
                            </div>
                        </form>
                    </div>
                </div>

                <div *ngIf="activeTab==2" class="row">
                    <div class="col-lg-12 col-md-10">
            
                        <form [formGroup]="userEmailForm">
                            <div class="row m-2 ml-4">
                                <div class="row full-width">
                                    <h6 for="email">User Email Id</h6>
                                </div>
                                <div class="row full-width">                                    
                                    <input [(ngModel)]="userData.emails[0].value" type="text" formControlName="email" class="form-control" placeholder="Email Id"/>
                                    <label class="mt-4" for="email">Please verify above email, you will able to update once it is verified. OTP will be sent to your emailId
                                        <button *ngIf="emailStatus == 'unverified'" (click)="onSendOTP()" class="btn btn-link">
                                            Send OTP
                                        </button>
                                    </label>
            
                                    <div *ngIf="correlation.length>0"  class="col-md-12">
                                        <div class="row">
                                            <div class="col-md-1"> <h6 *ngIf="emailStatus == 'otpSent'">{{correlation}} -  </h6></div>
                                            <div class="col-md-6"> <input *ngIf="emailStatus == 'otpSent'" type="text" formControlName="emailOtp" class="form-control" placeholder="Email Otp"/> </div>
                                            <div class="col-md-2"> <button *ngIf="emailStatus == 'otpSent'" (click)="onVerifyOTP()" class="btn btn-link">
                                                Verify OTP
                                            </button> </div>
                                       </div>
                                    </div>
                                </div>
                            </div>
             
                
                            <div class="form-group" style="margin-top: 10px;">
                                <button  (click)="onEmailUpdate()" [disabled]="emailStatus !== 'emailVerified'" class="btn btn-my">
                                    Save
                                </button>
                            </div>
                        </form>
                    </div>
                </div>

                <div *ngIf="activeTab==3" class="row">
                    <div class="col-lg-12 col-md-10">        
                        <form [formGroup]="userSmsForm" (ngSubmit)="onEmailUpdate()">
                            <div class="row m-2 ml-4">
                                <div class="row full-width">
                                    <h6 for="phoneNo">User PhoneNo</h6>
                                </div>
                                <div class="row full-width">
                                    <input [(ngModel)]="userData.phoneNumbers && userData.phoneNumbers[0].value" type="text" formControlName="phoneNo" class="form-control" placeholder="Phone Number"/>
                                   
                                    <label class="mt-4" for="phoneNo">Please verify above phone number, you will able to update once it is verified. OTP will be sent on sms
                                        <button *ngIf="smsStatus == 'unverified'" (click)="onSendSmsOTP()" class="btn btn-link">
                                            Send OTP
                                        </button>
                                    </label>
            
                                    <div *ngIf="smsCorrelation.length>0"  class="col-md-12">
                                        <div class="row">
                                            <div class="col-md-1"> <h6 *ngIf="smsStatus == 'otpSent'">{{smsCorrelation}} -  </h6></div>
                                            <div class="col-md-6"> <input *ngIf="smsStatus == 'otpSent'" type="text" formControlName="phoneOtp" class="form-control" placeholder="SMS Otp"/> </div>
                                            <div class="col-md-2"> <button *ngIf="smsStatus == 'otpSent'" (click)="onVerifySmsOTP()" class="btn btn-link">
                                                Verify OTP
                                            </button> </div>
                                       </div>
                                    </div>
                                </div>
                            </div>
            
                            <div class="form-group" style="margin-top: 10px;">
                                <button (click)="onPhoneUpdate()" [disabled]="smsStatus !== 'smsVerified'" class="btn btn-my">
                                    Save
                                </button>
                            </div>
                        </form>
                    </div>
                </div>

                <div *ngIf="activeTab==4" class="row">
                    <div class="col-lg-12 col-md-10">        
                        <div class="row m-2 ml-4">
                            <div class="row full-width">
                                <h5 for="phoneNo">Delete Account</h5>
                            </div>
                            <div class="row full-width">
                                <label class="mt-4" for="phoneNo">Are you sure you want to delete this account?</label>
                            </div>
                        </div>
        
                        <div class="form-group" style="margin-top: 10px;">
                            <button (click)="onDeleteAccount()" class="btn btn-my">
                                Yes
                            </button>
                        </div>
                    </div>
                </div>

                <div *ngIf="activeTab==5" class="row">
                    <div class="col-lg-12 col-md-10">        
                        <div class="row m-2 ml-4">
                            <div class="row full-width">
                                <h5 for="phoneNo">Change Password</h5>
                            </div>
                            <div class="row full-width">
                                <label class="mt-4" for="phoneNo">Are you sure you want to change the password?</label>
                            </div>
                        </div>
        
                        <div class="form-group" style="margin-top: 10px;">
                            <button (click)="changePasswordRedirect()" class="btn btn-my">
                                Yes
                            </button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

